<boat>
    <gps>
        <point>
            <latitude>45.774410</latitude>
            <longitude>126.675870</longitude>
        </point>
        <point>
            <latitude>45.774410</latitude>
            <longitude>126.675750</longitude>
        </point>
        <point>
            <latitude>45.774545</latitude>
            <longitude>126.675748</longitude>
        </point>
        <point>
            <latitude>45.774540</latitude>
            <longitude>126.675870</longitude>
        </point>
    </gps>
    <mark>
        <flag>0</flag>
        <path>points.txt</path>
        <!--周期-->
        <period>0.8</period>

    </mark>
    <parameter>
        <steering_coefficient>2.0</steering_coefficient>
        <turning_time>0.02</turning_time>
        <min_distance>3.6</min_distance>
        <base_velocity>2.0</base_velocity>
        <steering_deceleration_coefficient>1.20</steering_deceleration_coefficient>
        <corner_threshold>0.8</corner_threshold>
    </parameter>
    <boat>
        <gps_initialization>
            <hardware_flag>0</hardware_flag>
            <point>
                <latitude>45.774410</latitude>
                <longitude>126.675870</longitude>
            </point>
        </gps_initialization>
        <frequency>200</frequency>
        <mode>1</mode>
        <socket>
            <send_frequency>3</send_frequency>
            <host>192.168.123.103</host>
            <port>6666</port>
        </socket>
        <serial>
            <send_frequency>50</send_frequency>
            <port>/dev/ttyUSB0</port>
            <baud>460800</baud>
        </serial>
    </boat>
</boat>
